# ACC_Z=0 (Täglicher Reset), ACC_Z=1 (Wöchentlicher Reset)
ACC_Z=1
# Zeitintervall in Minuten
INTERVAL_MIN=1
# Nutzer:in darf sich nur an 1 Arbeitsplatz anmelden
DENY_MULTI_LOGIN=1

# Standard-Zeitlimit pro Woche in Minuten (840 = 14 Stunden)
STANDARD_MAX=840

# Welches Authentifizierungs-Modul soll genutzt werden?
# Optionen aktuell: gbv, local
# Module sind in der jeweiligen auth_xxx.py definiert

AUTH_METHOD=local 

# Hier auskommentieren und ISIL ergänzen für Login über PAIA:
# AUTH_METHOD=gbv
# PAIA_BASE_URL=https://paia.gbv.de/DE-<ISIL>

# Kommagetrennte Liste der PAIA-Statuscodes, die sich einloggen dürfen
# 0 = Aktiv, 1 = Abgelaufen, 2 = Gesperrt, 3 = Verloren, 4 = Gebühren
ALLOWED_STATUS_CODES=0,1,4

SECRET_KEY="<Ein Geheimer-Schlüssel wie: 8hfdwkjfb9uw3brfdkjfbaieu3ubjf983>"

ADMIN_USER=useradmin
ADMIN_PASSWORD=@ChangeMe@

DNS_SERVER_1=<IP des DNS-Servers wie 10.11.12.13>
